
.animation-sample-fadeinout {
	.animation-container {
		align-items: center;
		background-color: #f2f2f2;
		display: flex;
		height: 20rem;
		width: 30rem;
		justify-content: center;
	}

	svg {
		animation-delay: 1s;
		animation-direction: normal;
		animation-duration: 2s;
		animation-fill-mode: forwards;
		animation-iteration-count: 1;
		animation-play-state: running;
		animation-timing-function: linear;
		height: 10rem;
		width: 10rem;
	}

	.animation-fadein svg {
		opacity: 0;
		animation-name: fadein;
	}

	.animation-fadeout svg {
		animation-name: fadeout;
	}
}

.animation-sample-timing,
.animation-sample-direction {
	.animation-container {
		display: flex;
		flex-flow: column;
	}

	.animation-item {
		display: flex;
		// todo:
		/*
		&:not(:first-child) {
			border-top: 1px #ccc;
		}
		*/
		h5 {
			padding-left: 10px;
			flex-basis: 20%;
		}

		p {
			flex-basis: 80%;
			padding-right: 10px;
		}

		svg {
			animation-name: left2right;
			animation-duration: 4s;
			animation-delay: 1s;
			height: 2rem;
			width: 2rem;
		}
	}
}


.animation-sample-timing {
	.animation-item {
		svg {
			animation-fill-mode: forwards;
		}
	}

	.animation-item-ease svg {
		animation-timing-function: ease;
	}

	.animation-item-ease-in svg {
		animation-timing-function: ease-in;
	}

	.animation-item-ease-out svg {
		animation-timing-function: ease-out;
	}

	.animation-item-ease-in-out svg {
		animation-timing-function: ease-in-out;
	}

	.animation-item-linear svg {
		animation-timing-function: linear;
	}

	.animation-item-steps svg {
		animation-timing-function: steps(4, jump-both);
	}

	.animation-item-cubic-bezier svg {
		animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
	}
}

.animation-sample-direction {
	.animation-item svg {
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}

	.animation-item-normal svg {
		animation-direction: normal;
	}

	.animation-item-reverse svg {
		animation-direction: reverse;
	}

	.animation-item-alternate svg {
		animation-direction: alternate;
	}

	.animation-item-alternate-reverse svg {
		animation-direction: alternate-reverse;
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 100;
	}
}

@keyframes fadeout {
	from {
		opacity: 100;
	}

	to {
		opacity: 0;
	}
}

@keyframes left2right {
	0% {
		margin-left: 0;
	}

	100% {
		margin-left: calc(100% - 2rem);
	}
}
