* {
	box-sizing: border-box;
}

section {
	h2 {
		margin-bottom: 5px;
	}
	p {
		margin: 0 5px;
	}
}

.flex-container {
	background-color: #eee;
	display: flex;
}

.flex-item {
	background-color: #60b99a;
	color: #fff;
	padding: 20px;
	margin: 10px;

	&:first-child {
		background-color: #4584b1;
	}
}

.flex-sample-default {
	.flex-container {
		display: block;
	}
}

.flex-sample-basic {
}
