* {
	box-sizing: border-box;
}

section {
	h2 {
		margin-bottom: 5px;
	}

	p {
		margin: 5px 0 2px;

		code {
			font-weight: bold;
		}
	}
}

.flex-container {
	background-color: #eee;
	display: flex;
}

.flex-item {
	background-color: #60b99a;
	color: #fff;
	padding: 10px;
	margin: 10px;

	&:first-child {
		background-color: #4584b1;
	}
}

.flex-sample-default {
	.flex-container {
		display: block;
	}
}

.flex-sample-basic {
}

.flex-sample-dir {
	.flex-container.flex-dir-row {
		flex-direction: row;
	}

	.flex-container.flex-dir-row-reverse {
		flex-direction: row-reverse;
	}

	.flex-container.flex-dir-column {
		flex-direction: column;
	}

	.flex-container.flex-dir-column-reverse {
		flex-direction: column-reverse;
	}
}

.flex-sample-wrap {
	.flex-container.flex-wrap-nowrap {
		flex-wrap: nowrap;
	}

	.flex-container.flex-wrap-wrap {
		flex-wrap: wrap;
	}

	.flex-container.flex-wrap-wrap-reverse {
		flex-wrap: wrap-reverse;
	}
}

.flex-sample-jc {
	.flex-container.flex-jc-flex-start {
		justify-content: flex-start;
	}

	.flex-container.flex-jc-flex-end {
		justify-content: flex-end;
	}

	.flex-container.flex-jc-start {
		justify-content: start;
	}

	.flex-container.flex-jc-center {
		justify-content: center;
	}

	.flex-container.flex-jc-end {
		justify-content: end;
	}

	.flex-container.flex-jc-space-between {
		justify-content: space-between;
	}

	.flex-container.flex-jc-space-around {
		justify-content: space-around;
	}

	.flex-container.flex-jc-space-evenly {
		justify-content: space-evenly;
	}

	.flex-container.flex-jc-stretch {
		justify-content: stretch;
	}
}
