* {
	box-sizing: border-box;
}

section {
	h2 {
		margin-bottom: 5px;
	}

	p {
		margin: 5px 0 2px;

		code {
			font-weight: bold;
		}
	}
}

.flex-container {
	background-color: #eee;
	display: flex;
}

.flex-item {
	background-color: #60b99a;
	color: #fff;
	padding: 10px;
	margin: 10px;

	&:first-child {
		background-color: #4584b1;
	}
}

.flex-sample-default {
	.flex-container {
		display: block;
	}
}

.flex-sample-basic {
}

.flex-sample-dir {
	.flex-container.flex-dir-row {
		flex-direction: row;
	}

	.flex-container.flex-dir-row-reverse {
		flex-direction: row-reverse;
	}

	.flex-container.flex-dir-column {
		flex-direction: column;
	}

	.flex-container.flex-dir-column-reverse {
		flex-direction: column-reverse;
	}
}
