.fc-sample-menu {
	ul {
		background-color: #eee;
		display: flex;
		justify-content: space-around;
		list-style-type: none;
		padding: .5em 0;
		width: 300px;
	}

	li {
		text-align: center;
	}

	a {
		color: #333;
	}
}
