
$main-color: #1a6ccc;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

// header
header {
	align-items: center;
	background-color: $main-color;
	box-shadow: 0 5px 13px 0 rgba(#000, .15);
	display: flex;
	padding: 0 8px;

	a {
		color: #fff;
	}
}

.header-logo {
	font-size: 20px;
	font-weight: bold;
}

.header-nav {
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;

	ul {
		display: flex;
	}

	a {
		padding: 8px;
	}
}

.header-user {
	display: flex;
	align-items: center;
	margin-left: 10px;

	svg {
		height: 32px;
		margin-left: 10px;
		width: 32px;
	}
}

@media (max-width: 600px) {
	.header {
		padding: .5rem;
	}

	.header-logo {
		margin: 1rem 0;
	}

	.header-nav {
		margin-left: initial;
	}

	.header-user {
		display: none;
	}
}




// main
main {
	// todo: 仮
	height: 80vh;
}

// footer
