$back-color: #edf2f7;
$main-color: #1a6ccc;

* {
	box-sizing: border-box;
}

body {
	background: $back-color;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
}

// header
header {
	align-items: center;
	background-color: $main-color;
	box-shadow: 0 5px 13px 0 rgba(#000, .15);
	display: flex;
	padding: 0 8px;

	a {
		color: #fff;
	}
}

.header-logo {
	font-size: 20px;
	font-weight: bold;
}

.header-nav {
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;

	ul {
		display: flex;
	}

	a {
		padding: 8px;
	}
}

.header-user {
	display: flex;
	align-items: center;
	margin-left: 10px;

	svg {
		height: 32px;
		margin-left: 10px;
		width: 32px;
	}
}

@media (max-width: 600px) {
	.header {
		padding: .5rem;
	}

	.header-logo {
		margin: 1rem 0;
	}

	.header-nav {
		margin-left: initial;
	}

	.header-user {
		display: none;
	}
}


// main
.wrapper {
	display: grid;
	grid-template-columns: 250px 1fr;
	grid-gap: 24px;
	margin: 1rem auto;
	max-width: 950px;
	padding-left: 1rem;
	padding-right: 1rem;

	nav,
	article {
		background: #fff;
		border-radius: 5px;
		box-shadow: 0 4px 4px 0 rgba(#000, .05);
	}
}

aside > nav {
	padding: .5rem .5rem 1rem 0;

	ul {
		display: flex;
		flex-direction: column;
		margin: 0;
	}

	a {
		$active-cColor: #f3f7fc;
		$height: 2.5rem;

		align-items: center;
		border-radius: 0 $height * 0.5 $height * 0.5 0;
		color: #c3c3c3;
		cursor: pointer;
		display: flex;
		height: $height;
		padding: 0 1rem;
		width: 100%;
		text-decoration: none;

		&.active,
		&:hover {
			background: $active-cColor;
			color: $main-color;
			background: $active-cColor;
			color: $main-color;
		}

		svg {
			height: 1.5rem;
			width: 1.5rem;
			margin-right: 1rem;
		}

		span {
			font-weight: bold;
		}
	}
}

main > article {
	padding: .5rem 1rem;

	& + article {
		margin-top: 18px;
	}

	h2 {
		align-items: center;
		display: flex;
		font-size: 1.2rem;
		margin: 0;

		svg {
			color: #e6af32;
			margin-right: .5rem;
		}

		span {
			color: $main-color;
		}
	}

	hr {
		border: 1px solid $back-color;
		margin-left: -1rem;
		margin-right: -1rem;
	}
}


// footer
