body {
	margin: 0;
}

.grid-container {
	display: grid;
	grid-gap: .5rem;
	grid-template-columns: 300px auto;
	grid-template-rows: repeat(3, auto);

	> * {
		background-color: #ddd;
		padding: 1rem;
	}

	header {
		grid-column: 1 / 3;
		grid-row: 1 / 2;
	}

	aside {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	main {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}

	footer {
		grid-column: 1 / 3;
		grid-row: 3 / 4;
	}
}
