
.app-sample {
	margin: 0;

	.oll-parent {
		box-shadow: 0 0 6px 4px rgb(128, 128, 128, .2);
		overflow: hidden;
		resize: both;
		// 初期のサイズ
		height: 400px;
		width: 600px;
	}
}

.oll-sample1 {
	.oll-parent {
		// コンテンツを中央にそろえるる
		display: grid;
		align-items: center;
		justify-items: center;
		// align-items、justify-itemsの2つとplace-itemsは同じ
		//place-items: center;

		background-color: #9fdde5;
	}

	.oll-child {
		background-color: #f3c0a1;
		border-radius: 10px;
		padding: 10px;
	}
}

.oll-sample2 {
	.oll-parent {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.oll-box {
		// ボックスを伸縮させない
		flex: 0 1 150px;
		// ボックスを伸縮させるなら
		//flex: 0 1 150px;

		// コンテンツを中央にそろえるる
		display: grid;
		align-items: center;
		justify-items: center;
		//
		background-color: #d1f7bf;
		border-radius: 10px;
		margin: 5px;
	}
}

.oll-sample3 {
	.oll-parent {
		display: grid;
		grid-template-columns: minmax(150px, 25%) 1fr;
	}

	aside, main {
		padding: .5rem;
	}

	aside {
		background: #fee6ae;
	}

	main {
		background: #dbcde0;
	}
}
