
.app-sample {
	height: calc(100vh - 150px);
	margin: 0;
}

.oll-sample1 {
	.oll-parent {
		background-color: #9fdde5;
		display: grid;
		height: 100%;

		align-items: center;
		justify-items: center;
		// ↓は↑2つと同じ
		//place-items: center;
	}

	.oll-child {
		background-color: #f3c0a1;
		border-radius: 10px;
		padding: 10px;
	}
}
