
.app-sample {
	margin: 0;

	.oll-parent {
		box-shadow: 0 0 6px 4px rgb(128, 128, 128, .2);
		overflow: hidden;
		resize: both;
		// 初期のサイズ
		height: 400px;
		width: 600px;

		& > * {
			padding: .5rem;
		}
	}

	// todo: color定義
}

.oll-sample1 {
	.oll-parent {
		// コンテンツを中央にそろえるる
		display: grid;
		align-items: center;
		justify-items: center;
		// align-items、justify-itemsの2つとplace-itemsは同じ
		//place-items: center;
		background-color: #9fdde5;
	}

	.oll-child {
		background-color: #f3c0a1;
		border-radius: 10px;
		padding: .75rem;
	}
}

.oll-sample2 {
	.oll-parent {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.oll-box {
		// ボックスを伸縮させない
		flex: 0 1 150px;
		// ボックスを伸縮させるなら
		//flex: 0 1 150px;

		// コンテンツを中央にそろえるる
		display: grid;
		align-items: center;
		justify-items: center;
		//
		background-color: #d1f7bf;
		border-radius: 10px;
		margin: 5px;
	}
}

.oll-sample3 {
	.oll-parent {
		display: grid;
		grid-template-columns: minmax(150px, 25%) 1fr;
	}

	aside {
		background: #fee6ae;
	}

	main {
		background: #dbcde0;
	}
}

.oll-sample4 {
	.oll-parent {
		display: grid;
		grid-template-rows: auto 1fr auto;
	}

	header {
		background: #a5e4e6;
	}

	main {
		background: #f0bda3;
	}

	footer {
		background: #d1c4d9;
	}
}

.oll-sample5 {
	.oll-parent {
		display: grid;
		grid-template: auto 1fr auto / auto 1fr auto;
	}

	header {
		background: #f4dce6;
		grid-column: 1 / 4;
		grid-row: 1 / 2;
	}

	.oll-sidebar {
		grid-row: 2 / 3;
	}

	.oll-sidebar-left {
		background: #9fdee6;
		grid-column: 1 / 2;
	}

	.oll-sidebar-right {
		background: #fee6ae;
		grid-column: 3 / 4;
	}

	main {
		background: #f4c1a3;
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}

	footer {
		background: #cef0bf;
		grid-column: 1 / 4;
		grid-row: 3 / 4;
	}
}

.oll-sample6 {
	.oll-parent {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}

	.oll-span {
		display: grid;
		align-items: center;
		justify-items: center;
	}

	.oll-span-12 {
		background: #cef0bf;
		grid-column: 1 / span 12;
	}

	.oll-span-6 {
		background: #f4c1a3;
		grid-column: 1 / span 6;
	}

	.oll-span-4 {
		background: #9fdee6;
		grid-column: 4 / span 4;
	}

	.oll-span-2 {
		background: #fee6ae;
		grid-column: 3 / span 2;
	}
}

.oll-sample7 {
	.oll-parent {
		display: grid;
		grid-gap: 1rem;

		& > * {
			display: grid;
			align-items: center;
			justify-items: center;

			border-radius: 10px;
		}

		div:first-child {
			background: #f2d9e6;
		}

		div:nth-child(2) {
			background: #dacbe0;
		}

		div:nth-child(3) {
			background: #a5e4e6;
		}

		div:last-child {
			background: #d1f7bf;
		}
	}

	.oll-parent-autofit {
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	}

	.oll-parent-autofill {
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	}
}
