// 色定義
$coral: hsl(23, 83%, 82%);
$pink: hsl(335, 52%, 92%);
$yellow: hsl(42, 97%, 85%);
$green: hsl(100, 64%, 86%);
$blue: hsl(187, 61%, 79%);
$purple: hsl(283, 24%, 86%);
$light-gray-blue: hsl(182, 29%, 96%);

.app-sample {
	margin: 0;

	.oll-parent {
		box-shadow: 0 0 6px 4px rgb(128, 128, 128, .2);
		overflow: hidden;
		resize: both;
		// 初期のサイズ
		height: 400px;
		width: 600px;

		& > * {
			padding: .5rem;
		}
	}
}

.oll-sample1 {
	.oll-parent {
		// コンテンツを中央にそろえるる
		display: grid;
		align-items: center;
		justify-items: center;
		// align-items、justify-itemsの2つとplace-itemsは同じ
		//place-items: center;
		background-color: $blue;
	}

	.oll-child {
		background-color: $coral;
		border-radius: 10px;
		padding: .75rem;
	}
}

.oll-sample2 {
	.oll-parent {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.oll-box {
		// ボックスを伸縮させない
		flex: 0 1 150px;
		// ボックスを伸縮させるなら
		//flex: 0 1 150px;

		// コンテンツを中央にそろえるる
		display: grid;
		align-items: center;
		justify-items: center;
		//
		background-color: $green;
		border-radius: 10px;
		margin: 5px;
	}
}

.oll-sample3 {
	.oll-parent {
		display: grid;
		grid-template-columns: minmax(150px, 25%) 1fr;
	}

	aside {
		background: $yellow;
	}

	main {
		background: $purple;
	}
}

.oll-sample4 {
	.oll-parent {
		display: grid;
		grid-template-rows: auto 1fr auto;
	}

	header {
		background: $blue;
	}

	main {
		background: $coral;
	}

	footer {
		background: $purple;
	}
}

.oll-sample5 {
	.oll-parent {
		display: grid;
		grid-template: auto 1fr auto / auto 1fr auto;
	}

	header {
		background: $pink;
		grid-column: 1 / 4;
		grid-row: 1 / 2;
	}

	.oll-sidebar {
		grid-row: 2 / 3;
	}

	.oll-sidebar-left {
		background: $blue;
		grid-column: 1 / 2;
	}

	.oll-sidebar-right {
		background: $coral;
		grid-column: 3 / 4;
	}

	main {
		background: $yellow;
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}

	footer {
		background: $green;
		grid-column: 1 / 4;
		grid-row: 3 / 4;
	}
}

.oll-sample6 {
	.oll-parent {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}

	.oll-span {
		display: grid;
		align-items: center;
		justify-items: center;
	}

	.oll-span-12 {
		background: $green;
		grid-column: 1 / span 12;
	}

	.oll-span-6 {
		background: $coral;
		grid-column: 1 / span 6;
	}

	.oll-span-4 {
		background: $blue;
		grid-column: 4 / span 4;
	}

	.oll-span-2 {
		background: $yellow;
		grid-column: 3 / span 2;
	}
}

.oll-sample7 {
	.oll-parent {
		display: grid;
		grid-gap: 1rem;

		& > * {
			display: grid;
			align-items: center;
			justify-items: center;

			border-radius: 10px;
		}

		div:first-child {
			background: $pink;
		}

		div:nth-child(2) {
			background: $purple;
		}

		div:nth-child(3) {
			background: $blue;
		}

		div:last-child {
			background: $green;
		}
	}

	.oll-parent-autofit {
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	}

	.oll-parent-autofill {
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	}
}
