@using PostRedirectGetWebApp.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model UserFormModel
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	<div asp-validation-summary="All"></div>
	<form asp-action="Index" method="post">
		@* 表示名だけ入力してPOSTすると、バリデーションエラー *@
		<div>
			<label asp-for="MailAddress"></label>
			<input asp-for="MailAddress" />
		</div>
		<div>
			<label asp-for="DisplayName"></label>
			<input asp-for="DisplayName" />
		</div>
		<button>Save</button>
	</form>
</body>
</html>
