@using Microsoft.AspNetCore.Http
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	Layout = null;
}
@functions {
	private ISession Session => ViewContext.HttpContext.Session;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Session</title>
</head>
<body>
	<p>@Session.Id</p>
	@if (Session.Keys.Any()) {
		foreach (var key in Session.Keys) {
			<form asp-action="Delete" asp-antiforgery="false" method="post">
				<input name="key" value="@key" readonly />
				:
				<input value="@Session.GetString(key)" readonly />
				<button type="submit">Delete</button>
			</form>
		}
	} else {
		<p>Session is empty</p>
	}
	<div>
		<form asp-action="Set" asp-antiforgery="false" method="post">
			<input name="key" placeholder="Key" />
			:
			<input name="value" placeholder="Value" />
			<button type="submit">Add</button>
		</form>
	</div>
</body>
</html>
