@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	<a asp-action="Sample" asp-controller="Default">Sample</a>
	<p>@Url.Action("Sample", "Default")</p>
	@*
	<a asp-action="SampleAsync" asp-controller="Default">SampleAsync</a>
	<p>@Url.Action("SampleAsync", "Default")</p>
	<a asp-action="NothingAsync" asp-controller="Default">NothingAsync</a>
	<p>@Url.Action("NothingAsync", "Default")</p>
	*@
</body>
</html>
