@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Login</title>
</head>
<body>
	<form asp-action="Login" method="post">
		@* ログインIDやパスワードは省略 *@
		<button type="submit">ログイン</button>
	</form>
</body>
</html>