
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	<div>
		<h3>IfTagHelper</h3>
		<span if="true">true</span>
		<span if="false">false</span>
	</div>
	<div>
		<h3>PrePostTagHelper</h3>
		<pre-post>
			<span>Content</span>
		</pre-post>
	</div>
</body>
</html>
