@page
@{
	ViewBag.Title = "Image to Data URL";
}
@section style {
	<style>
		* {
			box-sizing: border-box;
		}

		#droparea {
			background: #ccc;
			height: 100px;
		}
	</style>
}
<div id="droparea">
</div>
