@page
@{
	ViewBag.Title = "Index";
}

<ul>
	<li><a asp-page="./Game/GameOfLife">Game of Life</a></li>
	<li><a asp-page="./Game/Sudoku">Sudoku</a></li>
	<li><a asp-page="./Misc/ImageDataUrl">Image to Data URL</a></li>
	<li><a asp-page="./Misc/Pdf">PDF</a></li>
	<li><a asp-page="./Misc/SvgClock">SVG Clock</a></li>
	<li><a asp-page="./Test">Test</a></li>
</ul>
