@page
@{
	ViewBag.Title = "flexbox";
}
<section class="app-sample flex-sample-default">
	<h2>Default</h2>
	<div class="flex-container">
		<partial name="_FlexItems" model="3" />
	</div>
</section>

<section class="app-sample flex-sample-basic">
	<h2>Basic</h2>
	<p>コンテナに<code>display: flex;</code>を設定すると横並び</p>
	<div class="flex-container">
		<partial name="_FlexItems" model="3" />
	</div>
</section>

<section class="app-sample flex-sample-dir">
	<h2>flex-direction</h2>
	@foreach (var value in new[] { "row", "row-reverse", "column", "column-reverse" }) {
		<p><code>flex-direction: @value;</code></p>
		<div class="flex-container flex-dir-@value">
			<partial name="_FlexItems" model="3" />
		</div>
	}
</section>

<section class="app-sample flex-sample-wrap">
	<h2>flex-wrap</h2>
	@foreach (var value in new[] { "nowrap", "wrap", "wrap-reverse" }) {
		<p><code>flex-wrap: @value;</code></p>
		<div class="flex-container flex-wrap-@value">
			<partial name="_FlexItems" model="9" />
		</div>
	}
</section>

<section class="app-sample flex-sample-jc">
	<h2>justify-content</h2>
	@foreach (var value in new[] { "flex-start", "flex-end", "start", "center", "end", "space-between", "space-around", "space-evenly", "stretch" }) {
		<p><code>justify-content: @value;</code></p>
		<div class="flex-container flex-jc-@value">
			<partial name="_FlexItems" model="5" />
		</div>
	}
</section>

<section class="app-sample flex-sample-ai">
	<h2>align-items</h2>
	@foreach (var value in new[] { "stretch", "flex-start", "flex-end", "center", "baseline" }) {
		<p><code>align-items: @value;</code></p>
		<div class="flex-container flex-ai-@value">
			<partial name="_FlexItems" model="5" />
		</div>
	}
</section>

<section class="app-sample flex-sample-ac">
	<h2>align-content</h2>
	@foreach (var value in new[] { "stretch", "flex-start", "flex-end", "center", "space-between", "space-around", "space-evenly" }) {
		<p><code>align-content: @value;</code></p>
		<div class="flex-container flex-ac-@value">
			<partial name="_FlexItems" model="9" />
		</div>
	}
</section>

<section class="app-reference">
	<ul>
		<li><a href="https://coliss.com/articles/build-websites/operation/css/css3-flexbox-properties-by-scotch.html">CSS Flexbox の基礎知識と使い方をやさしく解説 | コリス</a></li>
		<li><a href="https://www.webcreatorbox.com/tech/flexbox">これからのCSSレイアウトはFlexboxで決まり！ | Webクリエイターボックス</a></li>
		<li><a href="https://www.webcreatorbox.com/tech/css-flexbox-cheat-sheet">日本語対応！CSS Flexboxのチートシートを作ったので配布します | Webクリエイターボックス</a></li>
	</ul>
</section>
