@page
@{
	ViewBag.Title = "FlexboxとGridの折り返しの違い";
}

<section class="flexgrid-sample-flex">
	<h3>flexbox</h3>
</section>

<section class="flexgrid-sample-grid">
	<h3>Grid</h3>
</section>

<section class="app-reference">
	<ul>
		<li><a href="https://coliss.com/articles/build-websites/operation/css/css-grid-vs-flexbox-which-should-you-choose.html">CSS Gridが適しているレイアウト、Flexboxが適してるレイアウトを詳しく解説 | コリス</a></li>
	</ul>
</section>

