@page
@{
	ViewBag.Title = "flexbox";
}
<section class="app-sample flex-sample-default">
	<h2>Default</h2>
	<div class="flex-container">
		<div class="flex-item">Item 1</div>
		<div class="flex-item">Item 2</div>
		<div class="flex-item">Item 3</div>
		<div class="flex-item">Item 4</div>
	</div>
</section>
<section class="app-sample flex-sample-basic">
	<h2>Basic</h2>
	<p>コンテナに<code>display: flex;</code>を設定すると横並び</p>
	<div class="flex-container">
		<div class="flex-item">Item 1</div>
		<div class="flex-item">Item 2</div>
		<div class="flex-item">Item 3</div>
		<div class="flex-item">Item 4</div>
	</div>
</section>
<section class="app-sample flex-sample-dir">
	<h2>Direction</h2>
	<p><code>flex-direction: row;</code></p>
	<div class="flex-container flex-dir-row">
		<div class="flex-item">Item 1</div>
		<div class="flex-item">Item 2</div>
		<div class="flex-item">Item 3</div>
		<div class="flex-item">Item 4</div>
	</div>
	<p><code>flex-direction: row-reverse;</code></p>
	<div class="flex-container flex-dir-row-reverse">
		<div class="flex-item">Item 1</div>
		<div class="flex-item">Item 2</div>
		<div class="flex-item">Item 3</div>
		<div class="flex-item">Item 4</div>
	</div>
	<p><code>flex-direction: column;</code></p>
	<div class="flex-container flex-dir-column">
		<div class="flex-item">Item 1</div>
		<div class="flex-item">Item 2</div>
		<div class="flex-item">Item 3</div>
		<div class="flex-item">Item 4</div>
	</div>
	<p><code>flex-direction: column-reverse;</code></p>
	<div class="flex-container flex-dir-column-reverse">
		<div class="flex-item">Item 1</div>
		<div class="flex-item">Item 2</div>
		<div class="flex-item">Item 3</div>
		<div class="flex-item">Item 4</div>
	</div>
</section>
<section class="app-reference">
	<ul>
		<li></li>
	</ul>
</section>
