@page
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Layout with grid</title>
	<partial name="_PageCss" />
</head>
<body>
	@* Gridを使ったレイアウト *@
	<div class="grid-container">
		<header>Header</header>
		<aside>Aside</aside>
		<main>Main</main>
		<footer>Footer</footer>
	</div>
</body>
</html>
