@page
@{
	ViewBag.Title = "Grid full-bleed";
}

<main class="gfb-wrapper">
	<h1></h1>
	<p></p>
	<img class="gfb-fullbleed" />
	<p></p>
</main>

<section class="app-reference">
	<ul>
		<li><a href="https://coliss.com/articles/build-websites/operation/css/full-bleed-layout-using-css-grid.html">シンプルなCSSで実装できる！記事は中央に固定幅、画像は幅いっぱいに、フルブリードレイアウトを実装するテクニック | コリス</a></li>
	</ul>
</section>
