@page "{pattern:int?}"
@model GridLayoutModel
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Layout with grid</title>
	<partial name="_PageCss" />
</head>
<body>
	@* Gridを使ったレイアウト *@
	<div class="grid-container">
		<header>header(Model.Pattern)</header>
		<aside>aside</aside>
		<main>main</main>
		<footer>footer</footer>
	</div>
</body>
</html>
