@page
@{
	ViewBag.Title = "grid";
}

<section class="app-sample grid-sample">
	<h3>Sample</h3>
	<div class="grid-container">
		<div class="grid-item"></div>
		<div class="grid-item"></div>
		<div class="grid-item"></div>
	</div>
</section>
