@page
@{
	ViewBag.Title = "Index";
}

<ul>
	<li><a asp-page="./BoxSizing">box-sizing</a></li>
	<li><a asp-page="./Flexbox">Flexbox</a></li>
	<li><a asp-page="./FlexboxGridWrapper">FlexboxとGridの折り返しの違い</a></li>
	<li><a asp-page="./Grid">Grid</a></li>
	<li><a asp-page="./GridLayout" asp-route-pattern="1">Gridレイアウト サンプル1</a></li>
	<li><a asp-page="./GridLayout" asp-route-pattern="2">Gridレイアウト サンプル2</a></li>
</ul>
