@page
@{
	ViewBag.Title = "Index";
}

<ul>
	<li><a asp-page="./BoxSizing" asp-route-pattern="1">box-sizing</a></li>
	<li><a asp-page="./Flexbox" asp-route-pattern="1">flexbox</a></li>
	<li><a asp-page="./Grid" asp-route-pattern="1">grid</a></li>
	<li><a asp-page="./GridLayout" asp-route-pattern="1">gridレイアウト サンプル1</a></li>
	<li><a asp-page="./GridLayout" asp-route-pattern="2">gridレイアウト サンプル2</a></li>
</ul>
