@page "{layout}"
@model OneLineLayoutModel
@{
	// 参考
	// http://photoshopvip.net/123968
	ViewBag.Title = "Ten modern layouts in one line of CSS";
	ViewBag.Subtitle = Model.Layout.GetDisplayName();
}
<section class="app-sample oll-sample@((int)Model.Layout)">
	@if (Model.Layout == OneLineLayout.SuperCentered) {
		<div class="oll-parent">
			<div class="oll-child">
				:)
			</div>
		</div>
	} else if (Model.Layout == OneLineLayout.DeconstructedPancake) {
		<div class="oll-parent">
			@foreach (var index in Enumerable.Range(1, 3)) {
				<div class="oll-box">@index</div>
			}
		</div>
	} else if (Model.Layout == OneLineLayout.SidebarSays) {
		<div class="oll-parent">
			<aside>Min: 150px<br />Max: 25%</aside>
			<main>This element takes the second grid position (1fr), meaning it takes up the rest of the remaining space.</main>
		</div>
	} else if (Model.Layout == OneLineLayout.PancakeStack) {
		<div class="oll-parent">
			<header>Header</header>
			<main>Main</main>
			<footer>Footer</footer>
		</div>
	}
</section>
