@** 線分のフォーム *@
@model LineModel

<form asp-action="Save">
	@* ジオメトリタイプをhiddenとして埋めてPOSTする *@
	@* POSTされたジオメトリタイプによって生成するモデイルを切り替える *@
	<input type="hidden" name="@nameof(GeometryType)" value="@Model.GeometryType" />
	<input asp-for="X1" />
	<input asp-for="Y1" />
	<br />
	<input asp-for="X2" />
	<input asp-for="Y2" />
	<br />
	<button>Save</button>
</form>
