@model MonsterViewModel
@{
	ViewBag.Title = "Index";
}

<form asp-action="">
	<div>
		<input asp-for="Form.Id" />
	</div>
	<div>
		<select asp-for="Form.Category" asp-items="Model.CategorySelectListItems"></select>
	</div>
	<div>
		<input asp-for="Form.Name" />
	</div>
</form>
