
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title></title>
</head>
<body>
	<form asp-action="Login" method="post">
		<div>ログインIDやパスワードは省略</div>
		<button type="submit">ログイン</button>
	</form>
</body>
</html>
